
.column-1{
    display: flex;
    justify-content: center;
}
.ourspecials{
    display: flex;
    justify-content: center;
    background-color: black;
}
.ourspecials h3{
    font-family: sans-serif;
     color: rgb(144, 136, 136);
}
.locations{
    background-color: black;
    color: rgb(152, 142, 142);
}
.branches{
 display: flex;
    justify-content: center;
    background-color: black;   
}
.branches h4{
    font-family: sans-serif;
     color: rgb(185, 176, 176);
}

.card{
    margin-top: 10px;
}
.carousel-item img{
object-fit: cover;
height: 640px;
}
@media(max-width:768px){
    .carousel-item img{
        height: 400px;
    }
} 
@media(max-width:576px){
    .carousel-item img{
        height: 300px;
    }
} 
@media(max-width:350px){
    .carousel-item img{
        height: 200px;
    }
} 
